/* @TODO: Create bg rotation */

:root{
    /* --gradient: linear-gradient(45deg, var(--primary) 0%, var(--secundary) 100%) no-repeat; */
    --gradient: linear-gradient(45deg, var(--primary) 0%, var(--secundary) 50%, var(--third) 100%) no-repeat;
}

html{
    background: rgb(30,22,83);
    background: var(--gradient);
    background-size: 400% 400%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    animation: gradient 15s ease infinite;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main{
    width: clamp(66%, 75%, 90%);
}

header,
footer{
    display: none;
    visibility: hidden;
    position: absolute;;
}

#loginBlock,
#loginBlock form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#logo{
    width: 40%;
    margin: 0 auto;
}

hr{
    width: 90%;
    border: none;
    background-color: var(--primary);
    height: 2px;
    border-radius: 9999px;
    margin: 1.2rem auto;
}

#loginBlock{
    background-color: var(--bg);
    padding: 1.2rem;
    border-radius: 1.2rem;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.2);
    max-width: 30rem;
    margin: 0 auto;
}

#loginBlock h1{
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#loginBlock form input{
    border: none;
    padding: .8rem 1.6rem;
    border-radius: .4rem;
    font-size: 1.2rem;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
}

#loginBlock form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

#loginBlock form div{
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

input[type="submit"]{
    background: var(--gradient);
    color: var(--bg);
    font-weight: 800;
}

.errorInput{
    color: red;
    border: 1px solid rgba(255, 0, 0, 0.5)!important;
    box-shadow: 0 0 8px 0 rgba(255, 0, 0, 0.25)!important;
}

.error{
    color: red;
}

label.important{
    position: relative;
    width: fit-content;
}
label.important::after{
    position: absolute;
    content: '*';
    color: red;
    right: -2rem;
    top: 0;
}

.passwordBox{
    position: relative;
}

#seePassword{
    position: absolute;
    height: 80%;
    top: 10%;
    right: 2%;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 50;
}

#seePassword svg{
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: all 250ms;
}

#seePassword svg:hover{
    opacity: .75;
    transition: all 250ms;
}

@media screen and (min-width: 720px) {
    #loginBlock{
        padding: 1.6rem;
        max-width: 35rem;
    }
}

@media screen and (min-width: 1280px) {
    #loginBlock{
        padding: clamp(1.6rem, 8vw, 4rem);
        border-radius: 1.6rem;
        box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.2);
        max-width: 40rem;
    }
    #loginBlock form{
        text-align: left;
    }

    #loginBlock form input{
        border: none;
        padding: 1.6rem 2.4rem;
        border-radius: 1.2rem;
        font-size: 1.6rem;
        box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);
    }
    
    input[type="submit"]{
        background-size: 400% 400%;
        background-position: 0% 50%;
        transition: all 350ms;
        font-size: 2.4rem;
        box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
    #loginBlock input[type="submit"]:hover{
        background-position: 100% 50%;
        box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.25);
        transition: all 350ms;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}