body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}

h1{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

h1 img{
    height: 5rem;
    width: 5rem;
    object-fit: contain;
}