{% extends "main.twig" %}

{% block headerLinks %}
	<link rel="stylesheet" href="{{ url('stylesheets/calendar.css') }}">
{% endblock %}

{% block pageContent %}
	<h1>Hello
		{{ user.firstname }}
		{{ user.lastname }}</h1>

	{{ calendar|raw }}
{% endblock %}
